/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #444;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}

/* Styles pour rendre le tableau responsive */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    table {
        overflow-x: auto;
    }
}
